HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Terraform ###
*.exe

# Local .terraform directory
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Backup files
*.tfstate.backup

# Plan files
*.tfplan

# Crash log files
crash.log

# Ignore any other sensitive files
*.pem
*.private
